@use 'utils/vars.scss';

/*Globals - klasy stosowane globalnie*/

* {
    margin: 0;
    padding: 0;
}
* {
    z-index: 1;
}
body {
    font-family: 'Roboto', sans-serif;
    color: vars.$dark-font;
}
ul {
    list-style-type: none;
}
.section {
    padding: 94px 0;
}
.container {
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
.backgroud--black {
    background-color: vars.$dark-background;
}
.background--grey {
    background-color: vars.$grey-background;
}
svg {
    fill: vars.$grey-font;
}

.header {
    padding: 24px 0 25px;
    border-bottom: 1px solid #ececec;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__nav {
        display: flex;
        align-items: center;
        gap: 93px;
    }
    &__menu {
        display: flex;
        gap: 46px;
    }
    &__contacts {
        display: flex;
        gap: 50px;
    }
    &__link {
        font-style: normal;
        text-decoration: none;
        color: vars.$dark-font;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        transition-property: color;
        transition-duration: 250ms;
        transition-delay: cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__link--active {
        color: vars.$only-blue;
        position: relative;
        transition-property: background-color;
        transition-duration: 250ms;
        transition-delay: cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__link--active::after {
        content: '';
        position: absolute;
        display: block;
        background-color: vars.$only-blue;
        top: 45px;
        left: 0;
        right: 0;
        height: 4px;
        width: 100%;
        border-radius: 2px;
    }
    &__font-2 {
        display: flex;
        align-items: center;
        font-style: normal;
        text-decoration: none;
        color: vars.$grey-font;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        transition-property: color;
        transition-duration: 250ms;
        transition-delay: cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__icon {
        margin-right: 10px;
        transition-property: fill;
        transition-duration: 250ms;
        transition-delay: cubic-bezier(0.4, 0, 0.2, 1);
    }
    &__font-2:hover &__icon,
    &__font-2:hover,
    &__font:hover {
        color: vars.$only-blue;
        fill: currentColor;
    }
    &__font-2t:focus &__icon,
    &__font-2:focus,
    &__font:focus {
        color: vars.$only-blue;
        fill: currentColor;
    }
}
.logo {
    font-family: 'Raleway';
    color: vars.$only-blue;
    text-decoration: none;
    font-size: 26px;
    line-height: 1.19;
    font-weight: 700;
    letter-spacing: 0.03em;
    &--white {
        color: vars.$white-font;
    }
    &--black {
        color: vars.$dark-font;
    }
}
.hero {
    color: vars.$white-font;
    margin: 0 auto;
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    display: block;
    background: url('../images/about-us/hero-background.jpg');
    background-repeat: no-repeat;
    background-color: vars.$dark-background;
    background-position: center;

    &__slogan {
        margin-bottom: 30px;
        font-weight: 900;
        font-size: 44px;
        line-height: 1.3636;
        letter-spacing: 0.06em;
        text-transform: uppercase;
    }
    &__button {
        border: none;
        border-radius: 4px;
        font-family: 'Roboto';
        cursor: pointer;
        font-weight: 700;
        line-height: 1.875;
        text-align: center;
        letter-spacing: 0.06em;
        padding: 10px 42px;
        margin: 0 auto;
        background-color: vars.$only-blue;
        color: vars.$white-font;
    }
}
