&dark-font {
    color: #212121;
}
&grey-font {
    color: #757575;
}
&white-font {
    color: #ffffff;
}
&ash-font {
    color: #99ffffff;
}
&only-blue {
    color: #2196f3;
}
&dark-background {
    color: #2f303a;
}
&grey-background {
    color: #f5f4fa;
}
&grey-icon {
    color: #afb1b8;
}
